/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset,form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ul,ol {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
    font: 48px/48px Arial, sans-serif;
    background: #FFFFFF;
    text-align: center;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    //overflow: hidden;
}
.content {
    padding: 0 500px 0 0;
    //width: 50%;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
    float: left;
    // width: 40%;
    width: 450px;
    margin-left: -450px;// 60%;
    position: relative;
    background: #FFFFFF;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


select {
    //font-family: inherit;

    background-color: transparent;
    width: 70%;
    // padding: 3px 0;
    font-size:10px; 
    border: aqua;// none;
    // border-bottom: 1px solid aqua;
    // border-top:1px solid aqua; #0088cc


    border-radius: 5px;
    padding: 4px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);


}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 100px;
    background: #FFFFFF;
}
.box {
    margin: 0px auto;
    width: 70%;
}

.box-chart {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: right;
}
.hide{
    display: none;
}